body{
  color:black;
  background-color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  margin: 0; /* Remove body margin */
  padding: 0; /* Remove body padding */
}
hr {
  color:white;
  height: 1px;
  width: 100%;
  background-color:rgb(62, 84, 163);
  border:none;
  margin-top: 31px;
  
}
header{
  width: 100%;
  margin: 0; /* Remove header margin */
      padding: 0; /* Remove header padding */
  
}

.header-name{
  font-weight: bold;
  padding-bottom: 14px;
  color: black;
  font-size: 18px;
  position: relative;
  top:10px;
  left:23px;
}
.header2-name{
  position: absolute;
  left:5px;
  top:19px;
  font-size: 18px;
}
.header-title{
  position: absolute;
  left: 9.1%;
  top: 18px;
  font-size: 27px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* font-weight: bold; */
  color:black;
}
.vertical-line{
  position: absolute;
  top: 0.1%;
  bottom: 92.3%;
  width: 1px; /* Adjust the width as desired */
  background-color: rgb(62, 84, 163);; /* Adjust the color as desired */
  left: 7%; /* Adjust the position as desired */
}
.white-line{
  position: absolute;
  /* top: 7.7%;
  bottom: 90.8%;
  width: 9px; /* Adjust the width as desired */
  /* background-color: aliceblue; Adjust the color as desired */
  /* left: 5.3%; Adjust the position as desired */ */
}

.about-me{
  position: absolute;
  right:17%;
  top:25px;
  font-size: 15px;
  background-color: aliceblue;
  border:none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}
.HomePage{
  
  position: absolute;
  right: 23.5%;
  font-size: 15px;
  top:25px;
  background-color: aliceblue;
  border:none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}

.github-link{
  position: absolute;
  right: 8px;
  top:9px;
  font-size: 25px;
  font-weight: bold;
  font-family:monospace;
  color: white;
  background-color: black;
  border:none;
  cursor: pointer;
  padding-left:25px;
  padding-right:50px;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 50px;
}
.image{
  height: 25px;
  position: absolute;
  top: 12px;
  right: 13px;
}

.background{
  background-color:rgb(62, 84, 163);
  margin-top: 4%;
  margin-left: 6%;
  margin-right: 9%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /* display: grid;
  place-items: center; */
  height: 100vh; /* Adjust to your needs */
width: 25%;
}

.inside-text{
  color: white;
  font-weight: bold;
  position: relative;
  top:3%;
  display: grid;
  place-items: center;
  font-size: 20px;
}

.project-box-1{
  background-color: rgb(219, 229, 230);
  position: absolute;
  width: 30%;
  top:25%;
  height: 38vh;
  left: 15%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* cursor: pointer; */

}
.project-box-1-1{
  background-color: white;
  position: absolute;
  width: 55%;
  top:25%;
  height: 38vh;
  left: 45%;
  
  white-space: nowrap; /* Prevent line breaks */

}
.image-1{
  height: 80%;
  border-radius: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  transition: transform 0.5s ease;
}
.project-box-1:hover .image-1 {
  transform: translate(-50%, -50%) scale(1.08); /* Adjust the transform property */
}
.background-image{
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.title{
  font-size: 25px;
  padding-left: 20px;
  padding-top: 10px;
  
}
.title:hover{
  text-decoration: underline;
  cursor: pointer;
}


.description{
  padding-left: 20px;
  padding-top: 2px; 
  background-color: transparent;
  color: rgb(103, 98, 98);
  font-family: Heebo, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}